/*---Part 2---*/
.pricing{
    margin-top: 50px;
}
.pricing h2{
    font-size: 40px;
    font-weight: bold;
}
.box{
    border: 2px solid black;
    width: 700px;
    height: 400px;
    border-radius: 20px;
    margin-left: 110px;
    margin-top: 30px;
}
.box .box1{
    border: 2px solid orange;
    border-radius: 10px;
    padding: 8px;
    margin: 10px;
    text-align: center;
    justify-content: center;
}
.box .box1 p{
    font-size: 15px;
    font-weight: bold;
    color: brown;
}
.box .box1 p i{
    font-size: 20px;
    color: orange;
}
.box .box2{
    display: flex;
    flex-wrap: wrap;
}
.box .box2 .box2-price{
    flex: 2;
    border: 1px solid black;
    margin: 10px;
    border-radius: 20px;
    background-color: rgb(229, 231, 235);
}
.box .box2 .box2-price p{
    margin-top: 20px;
    /* line-height: 10px; */
}
.box .box2 .box2-price p span{
    font-size: 40px;
    font-weight: bold;  
}
.box .box2 .box2-price button{
    width: 250px;
    height: 50px;
    border-radius: 50px;
    background-color: #34D399;
}
.para1{
    font-weight: bold;
    font-size: 15px;
}
.para2{
    font-size: 15px;
}
.box .box2 .box2-feature p i{
    color: #34D399;
}

/*----Part 3----*/
.heading{
    margin-top: 50px;
}
.heading h1{
    font-size: 30px;
}
.heading p span{
    color: blue;
    font-weight: bold;
}
.question{
    width: 700px;
    height: 400px;
    margin-left: 120px;
}
.sub-question{
    margin-top: 30px;
}