.heading{
    margin-top: 25px;
    margin-bottom: 30px;
    font-style: italic;
    color: blue;
}
.heading span{
    color: red;
    /* font-size: 50px; */
}
.list-container{
    margin-top: 50px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.left-col{
    flex-basis: 49%;
    /* background-color: aqua; */
    background-color: rgb(173, 189, 138);

}
.right-col{
    flex-basis: 50%;
    background-color: rgb(216, 216, 216);
}
.left-col,.right-col{
    border: 1px solid rgb(207, 207, 207);
}
.left-col img{
    width: 200px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.left-col h5{
    font-weight: 600;
}
.text h4 span{
    font-size: 60px;
    color: red;
    float: left;
    margin-left: 50px;
    margin-bottom: 20px;
}
.text h4{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}
.text p span{
    font-size: 60px;
    color: red;
    float: right;
    margin-right: 50px;
}
.text p{
    font-size: 20px;
    font-weight: 500;
}
.modal-footer button:hover{
    background-color: hotpink;
}